%% {erl_opts, [
%%  warn_bif_clash,
%%  warn_deprecated_function,
%%  warn_export_all,
%%  warn_export_vars,
%%  warn_exported_vars,
%%  warn_format,
%%  warn_obsolete_guard,
%%  warn_shadow_vars,
%%  warn_unused_function,
%%  warn_unused_record,
%%  warn_unused_vars,
%%  debug_info,
%%  {parse_transform, lager_transform}
%% ]}.

{release, {gear, "0.1"}, [
    sasl, gear, poolboy, epgsql, gproc,
    gen_smtp, inets, sync, jsx, 

    %% For defualt system injection
    lager, mnesia
]}.

{extended_start_script, true}.
{dev_mode, true}.
